#site-name {
    color: darkred;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-class {
    display: flex;
}

.food-cart img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.food-cart {
    border-radius: 10px;
    margin: 20px 0px;
    padding: 5px;
    box-shadow: 5px 5px 10px lightgrey;
}

#ingredients-list {
    display: none;
}

#food-image {
    height: 300px;
    width: 400px;
    display: none;
}

#ingredient1 {
    margin-top: 10px;
}

#ingredient1,
#ingredient2,
#ingredient3,
#ingredient4,
#ingredient5,
#ingredient6,
#ingredient7 {
    font-weight: bold;
}

#ingredient-header {
    color: midnightblue;
    font-weight: bold;
    margin-top: 10px;
}